.shadow-sm.p-3.mb-3.bg-white.rounded
  レッスンに入れる日時にチェックしてください

%div.d-flex.justify-content-between
  = link_to "前の週", edit_teachers_schedules_path(start_date: @form.last_week_date, language: @form.language.name)
  = link_to "次の週", edit_teachers_schedules_path(start_date: @form.next_week_date, language: @form.language.name)

= form_with model: @form, scope: :schedules, url: teachers_schedules_path, method: :patch, local: true do |f|
  = hidden_field_tag :start_date, @form.start_date

  = select_tag :language, 
    options_from_collection_for_select(current_teacher.teaching_languages, :name, :name, @form.language.name),
    { class: "form-select mb-2", data: { update_url: edit_teachers_schedules_path }}
  %table.table.table-bordered.text-center
    %thead
      %tr
        %th 時間帯
        - @form.one_week_days.each do |date|
          %th{ scope: "col" }=l date.to_date, format: :schedule
    %tbody
      - Schedule::SCHEDULABLE_HOUR_RANGE.each do |hour|
        %tr
          %th.text-center{ scope: "row" } #{hour}:00
          - @form.one_week_days.each do |date|
            %td
              = f.fields_for date.to_s do |date_f|
                = date_f.check_box hour, { checked: @form.checked_schedule?(date: date, hour: hour) }
  = f.submit "更新する"
