!!!
%html{ lang: I18n.locale }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'noodp, noydir, index, follow', name: 'robots' }
    %meta{ content: 'initial-scale=1', name: 'viewport' }
    %title
      = content_for(:title) || 'Dashboard'
    = csp_meta_tag
    = javascript_pack_tag 'administrate', 'data-turbolinks-track': 'reload'

    = render 'stylesheet'
    = csrf_meta_tags

    %meta{ content: '/admin', name: 'turbolinks-root' }
  %body
    .app-container
      = render 'navigation'
      %main.main-content{ role: 'main' }
        = render 'flashes'
        = yield
    %div{ style: 'display: none; width: 0; height: 0; overflow: hidden; position: absolute' }
      = render 'icons'
    = render 'javascript'
