= form_with model: @teacher, url: teachers_profile_path, local: true do |f|
  = render "shared/error_messages", object: f.object

  .field
    = f.label :email
    = f.email_field :email, class: "form-control"
  .field
    = f.label :name
    = f.text_field :name, class: "form-control"
  .field
    = f.hidden_field :avatar, value: @teacher.cached_avatar_data
    = f.label :avatar
    = f.file_field :avatar
    - if @teacher.avatar
      = image_tag @teacher.avatar_url, class: "img-fluid", width: "200px"
  .field
    = f.label :profile
    = f.text_area :profile, class: "form-control"
  .field
    = f.label :teaching_language_ids
    = f.collection_check_boxes :teaching_language_ids, Language.all, :id, :name do |b|
      .form-check
        = b.check_box class: "form-check-input"
        = b.label class: "form-check-label" do
          = b.text

  .actions
    = f.submit "Save"

= link_to "Back", teachers_profile_path
